

.TextArea{
    display: grid;
    place-items: center;
}

@media (max-width: 780px){
    .TextArea{
        width: 424px;
        height: 75vh;
        margin-left: 20px;
    }
}

@media (max-width: 640px){
    .TextArea{
        width: 375px;
        height: 75vh;
        margin-left: 24px;
    }
}

@media (max-width: 375px){
    .TextArea{
        width: 325px;
        height: 75vh;
        margin-left: 20px;
    }
}

@media (max-width: 320px){
    .TextArea{
        width: 270px;
        height: 75vh;
        margin-left: 20px;
    }
}


